# Dart/Pub related
.dart_tool/
.packages
.pub-cache/
build/

# Flutter-specific
.flutter-plugins
.flutter-plugins-dependencies
.flutter-versions
generated_plugin_registrant.dart

# IDEs
.idea/
.vscode/
*.iml

# OS
.DS_Store
Thumbs.db

# Tests
coverage/

# Web output (if using flutter build web)
build/web/

# Misc
pubspec.lock # (optional – keep if you're locking versions)
