<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">We've got what you need!</h2>
                <hr class="light">
                <p class="text-faded">At Memoria IO, S.L we are a pure tech & remote-first consulting and software
                    development company. We specialize in delivering outsourced and offshored services, providing
                    bespoke solutions to meet your specific business needs. With a focus on innovation and
                    industry-leading practices, we empower businesses to harness the full potential of technology.</p>

                <p class="text-faded">
                    Strategic Guidance for SMEs We work closely with small and medium enterprises (SMEs) to scale and
                    optimize digital platforms and infrastructure. Our tailored consulting ensures you not only adopt
                    the right technologies but also leverage them for maximum growth and efficiency.
                </p>

                <p class="text-faded">
                    Collaborative Partnerships at Memoria, we believe in forming deep partnerships with our clients.
                    We align ourselves with your growth goals, offering the technical expertise to execute ambitious
                    digital transformation and IT initiatives.
                </p>

                <p class="text-faded">
                    Remote-First expertise, we have built a global network of top-tier talent,
                    ensuring flexibility, scalability, and access to the best minds in the industry—no matter where
                    you’re located.
                </p>

                <!--  <a href="#" class="btn btn-default btn-xl">Get Started!</a>-->
            </div>
        </div>
    </div>
</section>
